.flex-container-omradar {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 30px; 
    color: #ffffff79;
}

.text-content-omradar h1 {
    margin-bottom: 20px; 
    text-align: center;
    display: flex;
    font-size: 6vh; 
    color: white;
}

.image-content-omradar img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.text-content-omradar p {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    max-width: 80%; 
    margin: 0 auto; 
    padding: 20px 0; 
}

.read-more-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}

.read-more-button {
    background-color: #A41045; 
    color: white; 
    padding: 15px 30px; 
    font-size: 1.2em; 
    text-decoration: none; 
    border-radius: 30px; 
    transition: background-color 0.3s ease; 
}

.read-more-button:hover {
    background-color: #8c0f36; 
}

.image-frame {
    max-width: 900px; 
    max-height: 900px;
    border: 5px solid #575151; 
    border-radius: 10px; 
    padding: 0px; 
    display: block; 
    margin: 20px auto; 
    width: 50vw; 
}

.text-section-omradar {
    font-family: 'inter', sans-serif; 
    color: #ffffff; 
    line-height: 1.8; 
    background-color: #33333346; 
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: 20px auto; 
    text-align: center; 
}

.text-section-omradar p {
    margin-bottom: 15px; 
}

.text-section-omradar p:last-child {
    margin-bottom: 0; 
}

@media (max-width: 768px) {
    .flex-container-omradar {
        flex-direction: column; 
        gap: 20px; 
    }

    .text-content-omradar h1 {
        font-size: 8vh; 
        margin-bottom: 20px;
    }

    .text-content-omradar h1 {
        font-size: 3em; 
    }

    .text-content-omradar {
        max-width: 90%; 
        text-align: center; 
    }

    .image-frame {
        width: 90vw; 
    }

    .image-content-omradar img {
        max-width: 90%; 
    }

    .read-more-button {
        font-size: 1.1em; 
        padding: 12px 25px; /
    }

    .text-section-omradar {
        width: 90%; 
    }
}
